<div class="task-status-container">
    <div class="tasks-status">
        <div class="completed-tasks">
            <img src="assets/tick-icon.png" class="stat-icon">
            <div class="completed-container">
                <div class="percent">{{taskStatus.completedPercent}}%</div>
                <div class="content">Completed tasks</div>
            </div>
        </div>
        <div class="active-tasks">
            <img src="assets/clock.png" class="stat-icon">
            <div class="active-container">
                <div class="percent"><span class="percent-content">{{taskStatus.activePercent}}%</span></div>
                <div class="content">Active tasks</div>
            </div>
        </div>
    </div>
</div>